[submodule "example/17_glfw_lua/source/lua"]
	path = example/17_glfw_lua/source/lua
	url = https://github.com/lua/lua
[submodule "example/17_glfw_lua/source/imgui"]
	path = example/17_glfw_lua/source/imgui
	url = https://github.com/ocornut/imgui
[submodule "example/17_glfw_lua/source/coroutine"]
	path = example/17_glfw_lua/source/coroutine
	url = https://github.com/luncliff/coroutine
[submodule "example/17_glfw_lua/source/glm"]
	path = example/17_glfw_lua/source/glm
	url = https://github.com/g-truc/glm
[submodule "example/21_nvrtc_yacx/source/yacx"]
	path = example/21_nvrtc_yacx/source/yacx
	url = https://github.com/ZerataX/yacx
